.divConteiner {
  display: flex;
  align-items: center;
  width: 203px;
  height: 39px;
  gap: 26px;
  margin-top: 8px;
}
.divImg {
}
.img {
  width: 66px;
  height: 24px;
}
.divText {
}
.h1Valor {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.58);
  margin: 0;
}
.h2Desconto {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
  color: #929292;
  margin: 0;
}
